main {
    margin: 3rem 5rem 
}

h1 {
    font-size: 20px;
}

.form,
.form-inline {
    width: 50rem;
}

.form-inline #message {
    width: 36rem;
}

.messages {
    width: 490px;
    height: 100%;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
}