main {
    margin: 3rem 5rem;
}

h1 {
    font-size: 20px;
}

.form,
.form-inline {
    width: 100%;
}

.messages {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1.5rem 2rem;
    margin-bottom: 1rem;
}